.mobile {
  padding: 0;
  margin: 0;
}

.mobile .tab .container {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  background-color: mediumturquoise;
}

.mobile .tab .container div {
  margin-right: 10px;
}

.InputTodo {
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 47px;
}

.addbtn {
  margin-left: 4px;
  width: 72px;
  margin-right: 14px;
  border: solid 2px darkturquoise;
  border-radius: 14px;
}

#myinput {
  width: 345px;
  border: solid 2px darkturquoise;
  border-radius: 14px;
}

h1 {
  border: solid 1px;
  width: 427px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  flex-wrap: wrap;
}

.item {
  float: left;
  padding-left: 11px;
}

.close {
  float: right;
  margin-right: 13px;
  border: solid 2px darkturquoise;
  border-radius: 14px;
  font-size: 19px;
  margin-top: 13px;
}

.status {
  float: right;
  margin-right: 20px;
  border: solid 2px darkturquoise;
  border-radius: 14px;
  font-size: 19px;
  margin-top: 13px;
}

.loop {
  border: solid 2px darkturquoise;
  border-radius: 14px;
  background-color: white;

}

#listItem {
  justify-content: center;
  margin-right: 10px;


}

#listTodoItem {
  justify-content: center;
  border: solid 1px;
  width: 427px;
  height: 540px;
  margin-top: 21px;
  border-radius: 20px;
  text-align: center;
  border: solid 2px darkturquoise;
  border-radius: 14px;
  background-color: white;
}

.ListTodo {
  display: flex;
  justify-content: center;
}
.listTableItem
{
  
}

@media only screen and (max-width: 960px) and (min-width: 320px) {
  body {
    background-color: lightblue;
  }
  .ListTodo {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 960px) {
  body {
    background-color: black;
  }
  .mobile .tab .container {
    background-color: white;
    border: solid 2px darkturquoise;
    border-radius: 14px;
  }
}
